<h1 class="cart-title">Cart</h1>
<div class="cart-list" id={{cart._id}}>
{{#if cart.products}}
    <button onclick="clearCart(event)" class="clear-button waves-effect waves-light btn-large">Clear cart</button>
    {{#each cart.products}}
        <div id={{product._id}} class="product-item">
            <p class="product-title">{{product.title}}</p>
            <p class="product-price">${{product.price}}</p>
            <p class="product-amount">amount: <span class="quantity-tag">{{quantity}}</span></p>
            <p class="subtotal">Subtotal: ${{#multiply product.price quantity}}{{/multiply}}</p>
            <button onclick="removeProduct(event)" class="remove-button waves-effect waves-light btn-small yellow darken-4">Remove</button>
        </div>
    {{/each}}
{{else}}
    <p>The cart is empty</p>
{{/if}}
</div>

<script src="/statics/js/cart.js"></script>